/* General Styles for Authentication Section */
.auth-section {
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.auth-section .form-container {
    margin-top: 20px;
}

.auth-section .input {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    color: #555;
}

.auth-section .btn {
    width: 100%;
    padding: 15px;
    background-color: #e07e7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.auth-section .btn:hover {
    background-color: #df6561;
}

.auth-section p {
    margin-top: 20px;
}

.auth-section a {
    color: #e07e7b;
    text-decoration: underline;
    cursor: pointer;
}

.auth-section a:hover {
    color: #df6561;
}

#backward{
    background: none;
    border: none;
    text-decoration: underline;
    color: #e07e7b;
    cursor: pointer;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#backward:hover {
    color: #df6561;
}